@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
*,
::after,
::before {
    box-sizing: border-box;
}

#root {
    width: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Lucida Sans", sans-serif;
}

.section-center {
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
}

/* ---  NAV ---- */

.nav-logo,
a {
    place-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav-logo {
    min-width: 170px;
}

.header {
    font-family: "Lobster", cursive;
    padding: 2% 0;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.nav-links {
    margin-left: 4%;
}

nav li {
    margin-right: 25%;
}

.title {
    font-size: 3.4rem;
    color: rgb(34, 54, 54);
    height: 17vh;
    place-items: center;
    background-color: aliceblue;
    text-align: center;
    padding: 50px;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button,
.search-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 0.3em 0.8em;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
/* button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

.shopping-cart-icon {
    align-self: center;
    margin-right: 7%;
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.2s ease-out;
}

.shopping-cart-icon:hover {
    color: darkcyan;
    font-size: 2rem;
}

/* ---  Filter ---- */

.filter {
    place-content: center;
    top: 2rem;
    left: 0;
    position: sticky;
}

input {
    border-radius: 10px;
    border-color: hsl(210, 18%, 82%);
    min-height: 2rem;
    min-width: 180px;
}

.filter {
    max-width: 90%;
}

.filter p {
    font-size: 1.5rem;
}

.filter-params {
    font-size: 1.5rem;
    list-style: none;
}

.filter-params li {
    margin-top: 10%;
    cursor: pointer;
}

.filter-params li:hover {
    color: #535bf2;
    background-color: rgba(250, 235, 215, 0.418);
}

.clicked {
    color: #535bf2;
}

.clear-filter-btn {
    background-color: #535bf2;
    color: white;
    padding: 0.3em;
    margin-top: 2.4rem;
    font-size: 1.5rem;
}

.filter-price-container p {
    display: inline;
    margin-right: 10px;
}



input {
    font-size: 1.3rem;
}

/* --- PRODUCTS ---- */

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 1rem;
    place-content: center;
}

.products-page {
    display: grid;
    grid-area: 1rem;
    grid-template-columns: 0.3fr 1fr;
    width: 90vw;
    margin: 4rem auto;
}

.product-img {
    border-radius: 10px;
}

.img {
    width: 90%;
    display: block;
}

.img:hover {
    opacity: 0.7;
}

.product {
    position: relative;
}

.product-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-67%, -130%);
    opacity: 0;
    display: flex;
}

.product-cart-btn,
.search-btn {
    color: #5499d1;
}

.product-cart-btn:hover {
    color: #68b3c0;
}

.search-btn:hover {
    color: #88ccd8;
}

.product-cart-btn:hover,
.search-btn:hover .img {
    opacity: 0.7;
}

.product:hover .product-icons {
    opacity: 0.9;
}

.product-name {
    text-transform: capitalize;
    font-weight: 500;
}

/* --- CartPage ---- */

.cart {
    display: grid;
    gap: 5rem;
    grid-template-columns: 0.3fr 1fr;
    width: 90vw;
    margin: 4rem auto;
}

.cart-title {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.cart-description {
    font-size: 1.2rem;
    line-height: 2em;
}

.cart-company {
    font-size: 1rem;
    text-transform: capitalize;
}

.cartImage {
    width: 500px;
    height: 500px;
}

.cart-price {
    color: #5499d1;
    font-size: 1.2rem;
}

.addToCartButton {
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 0.2em;
    background-color: #535bf2;
}

.addToCartButton:hover {
    background-color: #5499d1;
}
@media screen and (min-width: 1170px) {
    .products-container {
        grid-template-columns: repeat(3, 0.6fr);
    }
}

@media screen and (min-width: 1200px) {
    .product-img {
        height: 16rem;
    }
}
