@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Libre+Baskerville&display=swap");
*,
::after,
::before {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Gentium Plus", serif;
    font-size: 1.3rem;
}

.section-center {
    margin: 0 auto;
    max-width: 1200px;
    width: 94vw;
}

/* ---  NAV ---- */

.nav-logo,
a {
    place-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav-logo {
    min-width: 200px;
    margin-right: 250px;
    padding: 0;
}

.header {
    font-family: "Libre Baskerville", serif;
    padding: 2% 0;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.nav-links {
    margin-left: 2%;
}

nav li {
    margin-right: 10%;
}

.title {
    font-size: 3.4rem;
    color: rgb(34, 54, 54);
    height: 17vh;
    place-items: center;
    background-color: aliceblue;
    text-align: center;
    padding: 50px;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
/* --- NavlinksHover --- */
a {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    color: #141929;
    border: none;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
}
nav li {
    text-transform: uppercase;
    padding: 0.4em 0.7em;
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    color: #141929;
    border: none;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
}

nav li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #d1ac54;
    transition: 0.5s ease;
}

/* nav li:hover a {
    color: #535bf2;
    transition-delay: 0.5s;
} */

nav li:hover::before {
    width: 100%;
}

nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #d1ac54;
    transition: 0.4s ease;
    z-index: -1;
}

nav li:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* ---  Buttons ---- */
button,
.search-btn,
.cart-item-remove-btn,
.cart-item-amount-plus,
.cart-item-amount-minus {
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 0.3em 0.8em;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.cart-item-remove-btn:hover {
    color: crimson;
}

.cart-item-amount-minus,
.cart-item-amount-plus {
    color: darkcyan;
}
/* button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

.shopping-cart {
    display: flex;
    position: relative;
    place-items: center;
}

.shopping-cart-icon {
    margin-right: 2rem;
    cursor: pointer;
    font-size: 2.2rem;
    transition: all 0.2s linear;

    /* position: relative; */
}

.shopping-cart-indicator {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.1em 0.4em;
    color: aliceblue;
    position: absolute;
    border-radius: 50%;
    background: rgba(206, 153, 48, 0.959);
    left: 27px;
    top: 28px;
    transition: all 0.2s linear;
}

.shopping-cart:hover {
    color: darkcyan;
}

.shopping-cart:hover .shopping-cart-indicator {
    background-color: darkcyan;
}

/* ---  Filter ---- */

.filter {
    place-content: center;
    top: 2rem;
    left: 0;
    position: sticky;
}

input {
    /* border-color: hsl(210, 18%, 82%); */
    font-size: 1.3rem;
    min-height: 2rem;
    min-width: 180px;
    color: #141929;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
}

input:active {
    border: 2px solid #8707ff;

    box-shadow: 2px 2px 15px #8707ff inset;
    /* box-shadow: 0 0 0 .15vw skyblue; */
    /* border-color: #8707ff; */
}

input:focus-visible {
    outline: unset;
    border-color: #8707ff;
}

.filter {
    max-width: 90%;
}

.filter p {
    font-size: 1.7rem;
}

.filter-params {
    font-size: 1.7rem;
    list-style: none;
}

.filter-params li {
    margin-top: 10%;
    cursor: pointer;
}

.filter-params li:hover {
    color: #535bf2;
    outline: 20px solid rgba(250, 235, 215, 0.418);
    background-color: rgba(250, 235, 215, 0.418);
}

.clicked {
    color: #535bf2;
}

.clear-filter-btn {
    background-color: #535bf2;
    color: white;
    padding: 0.2em 0.4em;
    margin-top: 2.4rem;
    font-size: 1.5rem;
    transition: all 0.2s ease-out;
}

.clear-filter-btn:hover {
    background-color: #5d7ce3;
}

.filter-price-container p {
    display: inline;
    margin-right: 10px;
}

/* --- PRODUCTS ---- */

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 1rem;
    place-content: center;
}

.products-page {
    display: grid;
    grid-area: 1rem;
    grid-template-columns: 0.3fr 1fr;
    width: 90vw;
    margin: 4rem auto;
}

.product-img {
    border-radius: 10px;
}

.img {
    width: 90%;
    display: block;
}

.img:hover {
    opacity: 0.7;
}

.product {
    position: relative;
}

.product-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-67%, -200%);
    opacity: 0;
    display: flex;
}

.product-cart-btn,
.search-btn {
    color: #549fdc;
}

.product-cart-btn:hover {
    color: #88ccd8;
}

.search-btn:hover {
    color: #88ccd8;
}

.product-cart-btn:hover .img {
    opacity: 0.7;
}

.product:hover .product-icons {
    opacity: 0.9;
}

.product-name,
.product-price {
    text-transform: capitalize;
    font-size: 1.3em;
}

/* --- CartPage ---- */

.cart {
    display: grid;
    gap: 5rem;
    grid-template-columns: 0.3fr 1fr;
    width: 90vw;
    margin: 4rem auto;
}

.cart-title {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.cart-description {
    font-size: 1.2rem;
    line-height: 2em;
}

.cart-company {
    font-size: 1rem;
    text-transform: capitalize;
}

.cartImage {
    width: 500px;
    height: 500px;
}

.cart-price {
    color: #d1ac54;
    font-size: 1.2rem;
}

.addToCartButton {
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 0.2em;
    background-color: #535bf2;
}

.addToCartButton:hover {
    background-color: #5499d1;
}

/* --- ShoppingCartPage ---- */

.product-cart-header {
    margin-left: 140px;
    display: flex;
    justify-content: space-evenly;
}

.product-cart-header p {
    font-size: 2rem;
}

.product-cart-header-itemName {
    margin-right: 60px;
}

.product-cart-header {
    font-size: 1.5rem;
    color: #999;
}

.product-cart-item {
    display: grid;
    grid-template-columns: auto;
}

.cart-item-content {
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
    border: solid 1.5px #8a9bd5cc;
    padding: 20px;
    margin-bottom: 40px;
    place-items: center;
}

.cart-item-content p {
    font-size: 1.8rem;
}

.cart-item-img {
    width: 10vw;
    height: 12vh;
}

.cart-item-price {
    color: #d1ac54;
}

/* .total-content {
    position: relative;
} */

.total-container {
    display: flex;
    justify-content: center;
    position: sticky;
}

.total-content {
    position: sticky;
    right: 0px;
    z-index: 1;
    border-radius: 10px;
    border: #8707ff 2px solid;
    padding: 0.1em 0.3em;
}

.total {
    color: #d1ac54;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.cart-buy-btn {
    font-size: 1.7rem;
    padding: 0.3em;
    color: #141929;
    transition: all .2s ease-in-out;
}


.cart-buy-btn:hover {
    color: #535bf2;
    background-color: aliceblue;
}



.cart-buy-btn .shopping-cart-icon {
    padding: 0;
    margin: 0;
}
/* --- ShoppingCartColumns ---- */

.cart-item-name,
.cart-item-amount {
    text-transform: capitalize;
    font-size: 1.9rem;
    place-items: center;
}

.cart-item-buttons,
.cart-item-amount-content,
.product-cart-header {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    place-items: center;
}

@media screen and (min-width: 1170px) {
    .products-container {
        grid-template-columns: repeat(3, 0.6fr);
    }
}

@media screen and (min-width: 1200px) {
    .product-img {
        height: 16rem;
    }
}
